.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.FormsContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 300px;
}

.label {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.2rem;
  margin-bottom: 12px;
  width: 100%;
}

.Input {
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  flex-grow: 1;
  font-size: 16px;
  margin-left: 4px;
  outline: none;
  padding: 8px 0;
}

.Select {
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  flex-grow: 1;
  font-size: 16px;
  margin-left: 4px;
  outline: none;
  padding: 8px 16px;
}

.btnAdd {
  background: var(--secondary-color);
  border: none;
  border-radius: var(--radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  color: var(--main-color);
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 24px;
  padding: 0.8rem 1.6rem;
  transition: 0.1s;
  width: 280px;
}

.btnAdd:active {
  box-shadow: 0 4px 4px var(--greenStrange);
}
